@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500&family=Red+Hat+Display:wght@500;700;900&display=swap");
/* ************************************************ */
/* Globals */
/* ************************************************ */
:root {
  --clr-Pale-blue: hsl(225, 100%, 94%);
  --clr-very-Pale-blue: hsl(225, 100%, 98%);
  --clr-bright-blue: hsl(245, 75%, 52%);
  --clr-desaturated-blue: hsl(224, 23%, 55%);
  --clr-dark-blue: hsl(223, 47%, 23%);
}
/* ************************************************ */
/* Resets */
/* ************************************************ */

* {
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
body {
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  color: var(--clr-desaturated-blue);
  background: var(--clr-Pale-blue);
  background-image: url(images/pattern-background-mobile.svg);
  background-position: 0 -10%;
  background-repeat: no-repeat;
}
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-card {
  width: 328px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: white;
  padding-bottom: 2.1rem;
}
.order-card_body {
  margin-top: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
h1 {
  font-size: 1.4rem;
  font-weight: 900;
  color: var(--clr-dark-blue);
  /* margin-top: 50px; */
}
.order-card_description {
  font-size: 0.95rem;
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}
.order-card_annual-plan {
  display: flex;
  background: var(--clr-very-Pale-blue);
  /* background: black; */
  width: 85%;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 1rem;
  /* justify-content: space-between; */
  gap: 18px;
  align-items: center;
  font-size: 0.9rem;
  border-radius: 12px;
}
.order-card_annual-plan a {
  margin-left: auto;
  font-size: 0.8rem;
  font-weight: 900;
  color: var(--clr-bright-blue);
}
.annual-plan_container p:first-child {
  color: var(--clr-dark-blue);
  font-weight: 900;
}
.order-card_btn {
  width: 85%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 0.9rem;
  border: none;
  margin-top: 0.5rem;
  background: var(--clr-bright-blue);
  color: white;
  font-size: 1rem;
}
.order-card_btn-cancel {
  margin-top: 0.4rem;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}
